<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <!-- menu movil -->
    <app-navbar-options-movil />
    <!-- ============================================================================== -->
    <a class="btn btn-ghost text-xl" routerLink="/home">CRUD G.A</a>
  </div>
  <!-- menu web -->
  <div class="navbar-center hidden lg:flex">

    <app-navbar-options />
  </div>
  <!-- ============================================================================================================================================ -->
  <div class="navbar-end">
    <a routerLink="/auth/login" class="btn">Button</a>
  </div>
</div>
