<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <!-- menu movil -->
    <app-navbar-options-movil />
    <!-- ============================================================================== -->
    <a class="btn btn-ghost text-xl" routerLink="/home">CRUD G.A</a>
  </div>
  <!-- menu web -->
  <div class="navbar-center hidden lg:flex">

    <app-navbar-options />
  </div>
  <!-- ============================================================================================================================================ -->
  <!-- <div class="navbar-end">
    @if (authService.authStatus()==='authenticated') {

      <button class="btn btn-ghost">
        {{ authService.user()?.name }}
      </button>
      <button class="btn btn-sm btn-error"
      (click)="authService.logout()"
      >
        Salir
      </button>
    }
    @else if(authService.authStatus()==='not-authenticated') {
      <a class="btn btn-sm btn-primary" routerLink="/auth/login">
        Iniciar Sesión
      </a>

    }
    @else {
      <span>Cargando...</span>
    }

  </div> -->
<div class="navbar-end">
  @if (authStatus() === 'authenticated') {
    <button class="btn btn-ghost">
      {{ user()?.name }}
    </button>
    <button class="btn btn-sm btn-error" (click)="logout()">
      Salir
    </button>
  }
  @else if(authStatus() === 'not-authenticated') {
    <a class="btn btn-sm btn-primary" routerLink="/auth/login">
      Iniciar Sesión
    </a>
  }
  @else {
    <span>Cargando...</span>
  }
</div>
</div>
